.nuxt
/dist/
/build/
node_modules
.env

# macOS
.DS_Store

# Logs
*.log
yarn-error.log

# Yarn
.yarn/
.yarn-error.log

# Node binaries
.node/
.node-x64/

# Electron-Nuxt
.electron-nuxt/

# Temporary files
progress.txt

# Local tool repos / build outputs
external/

# Editor files
.vscode/
.idea/

# OS files
Thumbs.db